.box.feature .inner {
    padding: 1em 1em 1em 1em;
}
.box.feature .inner header {
    margin: 0 0 0em 0;
}

.cotblog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust as needed for space between divs */
}

.inner {
    width: 70%; /* Adjust as needed based on your design */
}

.post-actions {
    width: 78%; /* Adjust as needed based on your design */
    text-align: right;
    position: relative; /* Changed to relative for proper positioning */
}


.delete-post-link {
display: inline-block;
text-decoration: none;
padding: 10px;
margin-bottom: 10px;
background-color: #ff3333; /* Red background color */
margin-top: 38px;
color: white;
border-radius: 5px;
transition-duration: 0.4s;
}

.delete-post-link:hover {
    background-color: #cc0000; /* Darker red on hover */
}

.edit-post-link,
.view-post-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px; /* Adjust as needed for spacing between links */
    margin-top: 38px;
    background-color: #0090c5; /* Green background color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    transition-duration: 0.4s;
}

.edit-post-link:hover,
.view-post-link:hover {
    
    transition-duration: 0.4s;
    background-color: #3c8159; /* Green background color */
    
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination a,
.pagination span {
    padding: 6px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pagination .active span {
    background-color: #007bff;
    color: #fff;
}

.pagination a:hover {
    background-color: #ddd;
}